@import "tailwindcss";

@layer base {
  html {
    font-family: 'Space Grotesk', sans-serif;
  }

  body {
    background-color: #f6f6f8;
    color: #0d101b;
  }

  .dark body {
    background-color: #101322;
    color: #f6f6f8;
  }
}

/* Material Icons */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}